<!DOCTYPE html>
<html lang="es-ES">
<head>
    <% include partials/head.ejs %>

    <style>
        h3 .title {
            margin-right: 4px;
        }

        .qrcode { 
            width: 40%;
        }

        @media only screen and (min-width: 768px) {
            .qrcode { 
                width: 25%;
            }
        }
    </style>
</head>
<body>
    <% include partials/navigation.ejs %>

    <% 
        if (artworks.length) { 
            let section = 0;
            artworks.forEach(function (artwork) { 
    %>

    <section class="relative <% if (!section) { firstSection=false; %>pt-32<% } else { %> pt-10 <% } %> pb-20" id="home"> 
        <div class="container">
            <% if (error && !section) { %>
            <div class="flex items-center p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400" role="alert">
                <svg class="shrink-0 inline w-4 h-4 me-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                    <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"/>
                </svg>
                <span class="sr-only">Info</span>
                <div>
                    <span class="font-medium"><%= error %></span>
                </div>
            </div>
            <% } %>

            <% if (message && !section) { %>
            <div class="flex items-center p-4 mb-4 text-sm text-green-800 rounded-lg bg-green-50 dark:bg-gray-800 dark:text-green-400" role="alert">
                <svg class="shrink-0 inline w-4 h-4 me-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                    <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"/>
                </svg>
                <span class="sr-only">Info</span>
                <div>
                    <%= message %>
                </div>
            </div>
            <% } %>
            
            <!-- <h2 class="text-3xl md:text-4xl/tight font-semibold mt-4 mb-8 text-center">Artworks</h2> -->

            <div id="artowrksContainer" class="shadow-2xl rounded-xl bg-white p-6">
                <div class="flex items-center justify-center mb-2" style="background: url('/posters/<%= artwork.poster %>') no-repeat center; background-size: cover; min-height: <%= artwork.height %>px;">
                </div>
                
                <div class="grid sm:grid-cols-2 gap-6 mt-8">
                    <div class="mb-2"><h3 style="display: inline-block; margin-right: 4px;">Route:</h3> <a href="/ar/<%= artwork.id %>" target="_blank">wallmurals.ai/ar/<%= artwork.id %></a></div>

                    <div class="mb-2">
                        <h3 style="display: inline-block; margin-right: 4px;">Quick link:</h3> <% if (artwork.route) { %><a href="/<%= artwork.route %>" target="_blank">wallmurals.ai/<%= artwork.route %></a><% } else {%> N/A <% } %>
                    </div>

                    <div class="mb-2"><h3 style="display: inline-block; margin-right: 4px;">Width:</h3> <%= artwork.width %></div>

                    <div class="mb-2"><h3 style="display: inline-block; margin-right: 4px;">Height:</h3> <%= artwork.height %></div>

                    <div class="mb-2">
                        <form id="detailsForm<%= artwork.id %>" method="POST" action="/dashboard/updatelocation">
                            <div class="grid sm:grid-cols-2 gap-6">
                                <div>
                                    <label for="formLocation<%= artwork.id %>" class="block text-sm/normal font-semibold text-black mb-2">Location:</label>
                                    <input type="text" value="<%= artwork.location %>" class="block w-full text-sm rounded-md py-3 px-4 border-gray-200 focus:border-gray-300 focus:ring-transparent" name="formLocation" id="formLocation<%= artwork.id %>" placeholder="Type the location..." required="">
                                </div>
                                <div class="flex" style="align-items: end; padding-bottom: 3px;">
                                    <button id="saveLocationBtn<%= artwork.id %>" type="submit" class="w-1/2 py-2 px-6 rounded-md text-baseitems-center justify-center border border-primary text-white bg-primary hover:bg-primaryDark transition-all duration-500 font-medium">Save</button>
                                </div>
                            </div>
                            <input type="hidden" name="id" value="<%= artwork.id %>">
                            <input type="hidden" name="_csrf" value="<%= csrf %>">
                        </form>
                    </div>
                
                    <div class="mb-2">
                        <form id="detailsForm<%= artwork.id %>" method="POST" action="/dashboard/updatetagline">
                            <div class="grid sm:grid-cols-2 gap-6">
                                <div>
                                    <label for="formTagline<%= artwork.id %>" class="block text-sm/normal font-semibold text-black mb-2">Tagline:</label>
                                    <input type="text" value="<%= artwork.tagline %>" class="block w-full text-sm rounded-md py-3 px-4 border-gray-200 focus:border-gray-300 focus:ring-transparent" name="formTagline" id="formTagline<%= artwork.id %>" placeholder="Type the tagline..." required="">                            
                                </div>
                                <div class="flex" style="align-items: end; padding-bottom: 3px;">
                                    <button id="saveTaglineBtn<%= artwork.id %>" type="submit" class="w-1/2 py-2 px-6 rounded-md text-baseitems-center justify-center border border-primary text-white bg-primary hover:bg-primaryDark transition-all duration-500 font-medium">Save</button>
                                </div>
                            </div>
                            <input type="hidden" name="id" value="<%= artwork.id %>">
                            <input type="hidden" name="_csrf" value="<%= csrf %>">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="relative pt-10 pb-20" id="home"> 
        <div class="container">
            <!-- <h2 class="text-3xl md:text-4xl/tight font-semibold mt-4 mb-8 text-center">QR</h2> -->

            <div id="artowrksContainer" class="shadow-2xl rounded-xl bg-white p-6">
                <div class="flex items-center justify-center mt-10 mb-2 flex-col gap-6">
                    <div class="qrcode"></div>
                    <div class="qrdownload"></div>
                </div>
            </div>
        </div>
    </section>

    <% 
            }); 
            section++;
        }
    %>

    <% include partials/footer.ejs %>

    <!-- QR Code -->
    <script src="/assets/libs/qrcode/qrcode.min.js"></script>

    <script>
        document.addEventListener('DOMContentLoaded', async function() {
            let qrdivs = document.getElementsByClassName("qrcode");
            let qrdowns = document.getElementsByClassName("qrdownload");
            let index = 0;

            <% 
                if (artworks.length) { 
                    artworks.forEach(function (artwork) { 
            %>
                    new QRCode(qrdivs[index], {
                        text: "https://www.wallmurals.ai/ar/<%= artwork.id %>",
                        width: 500,
                        height: 500,
                    });

                    // Generate the save button after the qr code image src is ready
                    setTimeout((qrDiv, qrBtn) => {
                        const saveUrl = qrDiv.querySelector('img').src;
                        const link = document.createElement('a');
                        link.id = 'save-link';
                        link.classList = 'py-2 px-6 rounded-md text-baseitems-center justify-center border border-primary text-white bg-primary hover:bg-primaryDark transition-all duration-500 font-medium"';
                        link.href = saveUrl;
                        link.download = 'WallMuralAiQR.png';
                        link.innerHTML = 'Download';
                        qrBtn.appendChild(link);
                    }, 50, qrdivs[index], qrdowns[index]);

                    ++index;
            <% 
                    }); 
                } 
            %>
        });
    </script>
</body>
</html>