<!DOCTYPE html>
<html lang="es-ES">
<head>
    <% include partials/head.ejs %>

    <style>
        .qrContainer {
            justify-content: space-evenly;
            flex-direction: column;
        }

        .qrcodeDashboard { 
            width: 60%;
        }

        @media only screen and (min-width: 768px) {
            .qrcodeDashboard {
                width: 45%;
            }

            .artworkBtns, .formBtns, #outerMessage {
                grid-column: 1 / 3;
            }
        }

        @media only screen and (min-width: 992px) {
            .qrcodeDashboard {
                width: 25%;
            }
        }
    </style>
</head>
<body>
    <% include partials/navigation.ejs %>

    <%
        let section = 0;
        if (artworks.length) {
            artworks.forEach(function (artwork) {
    %>

    <section class="relative <% if (!section) { %> pt-32 <% } else { %> pt-10 <% } %> pb-20">
        <div class="container">
            <% if (!section) { %>
                <% if (error && message) { %>
                <div class="flex items-center p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400" role="alert">
                    <svg class="shrink-0 inline w-4 h-4 me-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                        <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"/>
                    </svg>
                    <span class="sr-only">Info</span>
                    <div>
                        <span class="font-medium"><%= message %></span>
                    </div>
                </div>
                <% } %>
                <% if (!error && message) { %>
                <div class="flex items-center p-4 mb-4 text-sm text-green-800 rounded-lg bg-green-50 dark:bg-gray-800 dark:text-green-400" role="alert">
                    <svg class="shrink-0 inline w-4 h-4 me-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                        <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"/>
                    </svg>
                    <span class="sr-only">Info</span>
                    <div>
                        <%= message %>
                    </div>
                </div>
                <% } %>

                <h2 class="text-3xl md:text-4xl/tight font-semibold mt-4 mb-8 text-center">Artworks</h2>
            <% } %>

            <div id="artworksContainer" class="shadow-2xl rounded-xl bg-white p-6">
                <div class="flex items-center mb-2 qrContainer"
                     style="background: rgba(0,0,0,0.5) url('<%= artwork.animations[0].poster %>') no-repeat center / cover; min-height: <%= (artwork.animations[0].height ? artwork.animations[0].height : 400) %>px;  background-blend-mode: darken;">
                    <div class="qrcodeDashboard"></div>
                    <div class="qrcodeDownload"></div>
                </div>

                <div class="gap-6 mt-8 grid grid-cols-1 md:grid-cols-2">
                    <div class="mb-2 overflow-hidden">
                        <h3>AR urls:</h3> <% if (artwork.route) { %><a href="/ar/<%= artwork.route %>" target="_blank">wallmurals.ai/ar/<%= artwork.route %></a><br><% } %>
                        <a href="/ar/id/<%= artwork.id %>" target="_blank">wallmurals.ai/ar/id/<%= artwork.id %></a>
                    </div>

                    <div class="mb-2 overflow-hidden"><h3>Location:</h3> <%= artwork.location %></div>

                    <%
                        let videos = [];
                        let models = [];
                        let audios = [];
                        let posters = [];
                        let width = [];
                        let height = [];
                        let chroma = [];
                        let scale = [];
                        let position = [];

                        artwork.animations.forEach(function (animation) { 
                            if (animation.video) {
                                videos.push(`<a href="${animation.video}" target="_blank">${animation.video}</a>`);
                            }
                            if (animation.model) {
                                models.push(`<a href="${animation.model}" target="_blank">${animation.model}</a>`);
                            }
                            if (animation.audio) {
                                audios.push(`<a href="${animation.audio}" target="_blank">${animation.audio}</a>`);
                            }
                            if (animation.poster) {
                                posters.push(`<a href="${animation.poster}" target="_blank">${animation.poster}</a>`);
                            }
                            if (animation.width) {
                                width.push(animation.width);
                            }
                            if (animation.height) {
                                height.push(animation.height);
                            }
                            if (animation.chroma) {
                                chroma.push(animation.chroma);
                            }
                            if (animation.scale) {
                                scale.push(animation.scale);
                            }
                            if (animation.position) {
                                position.push(animation.position);
                            }
                        }); 
                    %>

                    <div class="mb-2 overflow-hidden"><h3>Target:</h3> <a href="<%= artwork.target %>" target="_blank"><%= artwork.target %></a></div>

                    <div class="mb-2 overflow-hidden"><h3>Posters:</h3> <%- posters.join("<br>") %></div>

                    <div class="mb-2 overflow-hidden"><h3>Models:</h3> <%- models.join("<br>") %> </div>

                    <div class="mb-2 overflow-hidden"><h3>Audios:</h3> <%- audios.join("<br>") %> </div>

                    <div class="mb-2 overflow-hidden"><h3>Videos:</h3> <%- videos.join("<br>") %> </div>

                    <div class="mb-2"><h3>Mask:</h3><%- chroma.join("<br>") %></div>

                    <div class="mb-2"><h3>Width:</h3><%- width.join("<br>") %></div>

                    <div class="mb-2"><h3>Height:</h3><%- height.join("<br>") %></div>

                    <div class="mb-2"><h3>Scale:</h3><%- scale.join("<br>") %></div>

                    <div class="mb-2"><h3>Position:</h3><%- position.join("<br>") %></div>

                    <div class="mb-2 overflow-hidden"><h3>Latitude:</h3> <%= artwork.lat %></div>

                    <div class="mb-2 overflow-hidden"><h3>Longitude:</h3> <%= artwork.lon %></div>

                    <div class="mb-2 overflow-hidden"><h3>Tagline:</h3> <%= artwork.tagline %></div>

                    <div class="mb-2 overflow-hidden"><h3>Website:</h3> <%= artwork.website %></div>


                    <div class="flex flex-wrap items-center justify-center text-center gap-3 artworkBtns">
                        <a class="w-1/2 py-2 px-6 rounded-md text-baseitems-center justify-center border border-primary text-white bg-primary hover:bg-primaryDark transition-all duration-500 font-medium" href="/dashboard/edit/<%= artwork.id %>">Edit Mural</a>
                        <a class="w-1/2 py-2 px-6 rounded-md text-baseitems-center justify-center border border-red-50 text-red-800 bg-red-50 hover:bg-red-200 transition-all duration-500 font-medium" href="javascript:" onclick="submitDel('<%= artwork.id %>')">Delete Mural</a>
                        <form class="hidden" id="delete<%= artwork.id %>" method="POST" action="/dashboard/delete">
                            <input type="hidden" name="_csrf" value="<%= csrf %>">
                            <input type="hidden" value="<%= artwork.id %>" name="id">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <%
            section++;
            });
        }
    %>

    <section class="relative <% if (!section) { %> pt-32 <% } else { %> pt-10 <% } %> pb-20" id="editSection">
        <div class="container">
            <% if (!section) { %>
                <% if (error && message) { %>
                    <div class="flex items-center p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400" role="alert">
                        <svg class="shrink-0 inline w-4 h-4 me-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                            <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"/>
                        </svg>
                        <span class="sr-only">Info</span>
                        <div>
                            <span class="font-medium"><%= message %></span>
                        </div>
                    </div>
                <% } %>
                <% if (!error && message) { %>
                    <div class="flex items-center p-4 mb-4 text-sm text-green-800 rounded-lg bg-green-50 dark:bg-gray-800 dark:text-green-400" role="alert">
                        <svg class="shrink-0 inline w-4 h-4 me-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                            <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"/>
                        </svg>
                        <span class="sr-only">Info</span>
                        <div>
                            <%= message %>
                        </div>
                    </div>
                <% } %>
            <% } %>

            <h2 class="text-3xl md:text-4xl/tight font-semibold mt-4 mb-8 text-center">New Mural</h2>

            <form id="editMuralForm" method="POST" action="/dashboard/new" onsubmit="return checkMuralForm();" enctype='multipart/form-data'>
                <div class="shadow-2xl rounded-xl bg-white p-6">
                    <div class="gap-6 mt-8 grid grid-cols-1 md:grid-cols-2">
                        <div class="mb-2">
                            <label for="formTarget" class="block text-sm/normal font-semibold text-black mb-2">Target:</label>
                            <input type="file" class="block w-full text-sm rounded-md py-3 px-4 border-gray-200 focus:border-gray-300 focus:ring-transparent" name="target" id="formTarget" required="">
                        </div>

                        <div class="mb-2">
                            <label for="formPoster" class="block text-sm/normal font-semibold text-black mb-2">Poster:</label>
                            <input type="file" class="block w-full text-sm rounded-md py-3 px-4 border-gray-200 focus:border-gray-300 focus:ring-transparent" name="poster" id="formPoster">
                        </div>

                        <div class="mb-2">
                            <label for="formModel" class="block text-sm/normal font-semibold text-black mb-2">Model:</label>
                            <input type="file" class="block w-full text-sm rounded-md py-3 px-4 border-gray-200 focus:border-gray-300 focus:ring-transparent" name="model" id="formModel">
                        </div>

                        <div class="mb-2">
                            <label for="formAudio" class="block text-sm/normal font-semibold text-black mb-2">Audio:</label>
                            <input type="file" class="block w-full text-sm rounded-md py-3 px-4 border-gray-200 focus:border-gray-300 focus:ring-transparent" name="audio" id="formAudio">
                        </div>

                        <div class="mb-2">
                            <label for="formVideo" class="block text-sm/normal font-semibold text-black mb-2">Video:</label>
                            <input type="file" class="block w-full text-sm rounded-md py-3 px-4 border-gray-200 focus:border-gray-300 focus:ring-transparent" name="video" id="formVideo">
                        </div>

                        <div class="mb-2">
                            <label for="formChroma" class="block text-sm/normal font-semibold text-black mb-2">Mask:</label>
                            <input type="text" value="" class="block w-full text-sm rounded-md py-3 px-4 border-gray-200 focus:border-gray-300 focus:ring-transparent" name="chroma" id="formChroma" placeholder="Type the mask color (#00ff00)...">
                        </div>

                        <div class="mb-2">
                            <label for="formWidth" class="block text-sm/normal font-semibold text-black mb-2">Width:</label>
                            <input type="text" value="" class="block w-full text-sm rounded-md py-3 px-4 border-gray-200 focus:border-gray-300 focus:ring-transparent" name="width" id="formWidth" placeholder="Type the width...">
                        </div>

                        <div class="mb-2">
                            <label for="formHeight" class="block text-sm/normal font-semibold text-black mb-2">Height:</label>
                            <input type="text" value="" class="block w-full text-sm rounded-md py-3 px-4 border-gray-200 focus:border-gray-300 focus:ring-transparent" name="height" id="formHeight" placeholder="Type the height...">
                        </div>

                        <div class="mb-2">
                            <label for="formScale" class="block text-sm/normal font-semibold text-black mb-2">Scale:</label>
                            <input type="text" value="" class="block w-full text-sm rounded-md py-3 px-4 border-gray-200 focus:border-gray-300 focus:ring-transparent" name="scale" id="formScale" placeholder="For models, type the scale as x,y,z...">
                        </div>

                        <div class="mb-2">
                            <label for="formPosition" class="block text-sm/normal font-semibold text-black mb-2">Position:</label>
                            <input type="text" value="" class="block w-full text-sm rounded-md py-3 px-4 border-gray-200 focus:border-gray-300 focus:ring-transparent" name="position" id="formPosition" placeholder="For models, type the position as x,y,z...">
                        </div>

                        <div class="mb-2">
                            <label for="formRoute" class="block text-sm/normal font-semibold text-black mb-2">Quick link:</label>
                            <input type="text" value="" class="block w-full text-sm rounded-md py-3 px-4 border-gray-200 focus:border-gray-300 focus:ring-transparent" name="route" id="formRoute" placeholder="Type the direct route...">
                        </div>

                        <div class="mb-2">
                            <label for="formLocation" class="block text-sm/normal font-semibold text-black mb-2">Location:</label>
                            <input type="text" value="" class="block w-full text-sm rounded-md py-3 px-4 border-gray-200 focus:border-gray-300 focus:ring-transparent" name="location" id="formLocation" placeholder="Type the location..." required="">
                        </div>

                        <div class="mb-2">
                            <label for="formLatitude" class="block text-sm/normal font-semibold text-black mb-2">Latitude:</label>
                            <input type="text" value="" class="block w-full text-sm rounded-md py-3 px-4 border-gray-200 focus:border-gray-300 focus:ring-transparent" name="lat" id="formLatitude" placeholder="Type the latitude...">
                        </div>

                        <div class="mb-2">
                            <label for="formLongitude" class="block text-sm/normal font-semibold text-black mb-2">Longitude:</label>
                            <input type="text" value="" class="block w-full text-sm rounded-md py-3 px-4 border-gray-200 focus:border-gray-300 focus:ring-transparent" name="lon" id="formLongitude" placeholder="Type the longitude...">
                        </div>

                        <div class="mb-2">
                            <label for="formTagline" class="block text-sm/normal font-semibold text-black mb-2">Tagline:</label>
                            <input type="text" value="" class="block w-full text-sm rounded-md py-3 px-4 border-gray-200 focus:border-gray-300 focus:ring-transparent" name="tagline" id="formTagline" placeholder="Type the tagline...">
                        </div>

                        <div class="mb-2">
                            <label for="formWebsite" class="block text-sm/normal font-semibold text-black mb-2">Website:</label>
                            <input type="text" value="" class="block w-full text-sm rounded-md py-3 px-4 border-gray-200 focus:border-gray-300 focus:ring-transparent" name="website" id="formWebsite" placeholder="Type the website...">
                        </div>

                        <div class="hidden flex items-center p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400" role="alert" id="outerMessage">
                            <svg class="shrink-0 inline w-4 h-4 me-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                                <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"/>
                            </svg>
                            <span class="sr-only">Info</span>
                            <div>
                                <span class="font-medium" id="innerMessage"></span>
                            </div>
                        </div>

                        <div class="flex flex-wrap items-center justify-center text-center gap-3 formBtns">
                            <button type="submit" class="w-1/2 py-2 px-6 rounded-md text-baseitems-center justify-center border border-primary text-white bg-primary hover:bg-primaryDark transition-all duration-500 font-medium">Save Mural</button>
                            <button type="reset" class="w-1/2 py-2 px-6 rounded-md text-baseitems-center justify-center border border-red-50 text-red-800 bg-red-50 hover:bg-red-200 transition-all duration-500 font-medium">Cancel</button>
                        </div>
                    </div>
                </div>
                <input type="hidden" name="_csrf" value="<%= csrf %>">
            </form>

        </div>
    </section>

    <% include partials/footer.ejs %>

    <!-- QR Code -->
    <script src="/assets/libs/qrcode/qrcode.min.js"></script>

    <script>
        function submitDel(id) {
            if (confirm("Are you sure you want to delete this mural?")) {
                document.getElementById("delete" + id).submit();
            }
        }

        function showValidationMessage(message) {
            document.getElementById("innerMessage").textContent = message;
            document.getElementById("outerMessage").classList.remove("hidden");
        }

        function checkMuralForm() {
            const formTarget = document.getElementById("formTarget");
            if (formTarget.files.length === 0) {
                showValidationMessage("Please select a target.");
                return false;
            }

            const formVideo = document.getElementById("formVideo");
            const formModel = document.getElementById("formModel");
            if (formVideo.files.length === 0 && formModel.files.length === 0) {
                showValidationMessage("You need to add a video or a model");
                return false;
            }

            if (formVideo.files.length !== 0 && formModel.files.length !== 0) {
                showValidationMessage("You can not have a model and a video at the same time.");
                return false;
            }

            const formWidth = document.getElementById("formWidth");
            const formHeight = document.getElementById("formHeight");
            if (formVideo.files.length !== 0 && (formWidth.value === "" || formHeight.value === "")) {
                showValidationMessage("A video needs width and height.");
                return false;
            }

            let formLocation = document.getElementById("formLocation");
            return formLocation.value != "";
        }

        document.addEventListener('DOMContentLoaded', async function() {
            let qrdivs = document.getElementsByClassName("qrcodeDashboard");
            let qrdowns = document.getElementsByClassName("qrcodeDownload");
            let index = 0;

            <% 
                if (artworks.length) { 
                    artworks.forEach(function (artwork) { 
            %>
                    new QRCode(qrdivs[index], {
                        text: "https://www.wallmurals.ai/ar/id/<%= artwork.id %>",
                        width: 500,
                        height: 500,
                        // logo: false, Logo is somewhat experimental, if people don't want it, remove it
                    });

                    // Generate the save button after the qr code image src is ready
                    setTimeout((qrDiv, qrBtn) => {
                        const saveUrl = qrDiv.querySelector('img').src;
                        const link = document.createElement('a');
                        link.id = 'save-link';
                        link.classList = 'py-2 px-6 rounded-md text-baseitems-center justify-center border border-primary text-white bg-primary hover:bg-primaryDark transition-all duration-500 font-medium"';
                        link.href = saveUrl;
                        link.download = 'WallMuralAiQR.png';
                        link.innerHTML = 'Download QR';
                        qrBtn.appendChild(link);
                    }, 350, qrdivs[index], qrdowns[index]);

                    ++index;
            <% 
                    }); 
                } 
            %>

            // Check form
        });
    </script>
</body>
</html>