<!DOCTYPE html>
<html lang="es-ES">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <title><%= title %></title>
    <meta name="description" content="<%= description %>"/>
    <meta name="keywords" content="<%= keywords %>"/>
    <meta name="author" content="<%= author %>"/>
    <link rel="canonical" href="https://www.wallmurals.ai/">

    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />    
    <meta name='robots' content='index, follow, max-image-preview:large, max-snippet:-1, max-video-preview:-1' />

    <meta property="og:type" content="website" />
    <meta property="og:title" content="<%= title %>" />
    <meta property="og:description" content="<%= description %>" />
    <meta property="og:site_name" content="<%= site %>" />
    <meta property="og:locale" content="es_ES" />
    <meta property="og:url" content="https://www.wallmurals.ai" />
    <meta property="og:image" content="https://www.wallmurals.ai/assets/images/default.jpg"/>
    <!-- <meta property="og:image:type" content="image/png" />
    <meta property="og:image:width" content="480" />
    <meta property="og:image:height" content="640" /> -->
    <meta property="article:publisher" content="<%= author %>" />
    <meta property="article:author" content="<%= author %>" />
    
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="<%= site %>" />
    <meta name="twitter:url" content="https://www.wallmurals.ai" />
    <meta name="twitter:title" content="<%= title %>" />
    <meta name="twitter:description" content="<%= description %>" />
    <meta name="twitter:image" content="https://www.wallmurals.ai/assets/images/default.jpg" />
    
    <meta itemprop="name" content="<%= site %>" />
    <meta itemprop="description" content="<%= description %>" />
    <meta itemprop="image" content="https://www.wallmurals.ai/assets/images/default.jpg" />
    
    <!-- favicon -->
    <link href="/assets/icons/icons-48x48.png" rel="shortcut icon">

    <!-- Icons Css  -->
    <link href="/assets/css/icons.min.css" rel="stylesheet" type="text/css">

    <!-- Jarallax Css -->
    <link href="/assets/libs/jarallax/jarallax.min.css" rel="stylesheet">

    <!-- Main Css -->
    <link href="/assets/css/style.min.css" rel="stylesheet" type="text/css">

    <style>
        #home {
            overflow: hidden;
            background-color: rgb(0,0,0,0.5);
        }

        #homeVideo {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translateX(-50%) translateY(-50%);
            min-width: 100%;
            max-width: fit-content;
            z-index: -1;
        }

        .video-container {
            position: relative;
        }

        .video-container video {
            height: 480px;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translateX(-50%) translateY(-50%);
        }

        /* Just styling the content of the div, the *magic* in the previous rules */
        .video-container .iphone {
            z-index: 1;
            position: relative;
            width: 245px;
        }

        .youVideo {
            width: 320px;
            height: 180px;
        }

        @media only screen and (min-width: 992px) {
            .youVideo {
                width: 640px;
                height: 360px;
            }
        }
    </style>
</head>
<body>
    <!-- Navbar Start -->
    <nav class="navbar fixed top-0 start-0 end-0 z-999 transition-all duration-500 py-5 items-center shadow-md lg:shadow-none [&.is-sticky]:bg-white group [&.is-sticky]:shadow-md bg-white lg:bg-transparent" id="navbar">
        <div class="container">
            <div class="flex lg:flex-nowrap flex-wrap items-center">
                <div>
                    <a href="/#home" class="flex flex-row items-center justify-center gap-2">
                        <img src="/assets/icons/icons-72x72.png" class="h-9 flex" alt="Wall Murals AI">
                        <h1 class="text-primary">Wall Murals AI</h1>
                    </a>
                </div>
                <div class="lg:hidden flex items-center ms-auto px-2.5">
                    <button class="hs-collapse-toggle" type="button" id="hs-unstyled-collapse" data-hs-collapse="#navbarCollapse">
                        <i data-lucide="menu" class="h-8 w-8 text-black"></i>
                    </button>
                </div>
                <div class="navigation hs-collapse transition-all duration-300 lg:basis-auto basis-full grow hidden items-center justify-center lg:flex mx-auto overflow-hidden mt-6 lg:mt-0 nav-light" id="navbarCollapse">
                    <ul class="navbar-nav flex-col lg:flex-row gap-y-2 flex lg:items-center justify-center" id="navbar-navlist">
                        <li class="nav-item mx-1.5 transition-all text-dark lg:text-white group-[&.is-sticky]:text-dark all duration-300 hover:text-primary [&.active]:!text-primary group-[&.is-sticky]:[&.active]:text-primary">
                            <a class="nav-link inline-flex items-center text-sm lg:text-base font-medium py-0.5 px-2 capitalize" href="#home">Home</a>
                        </li>

                        <li class="nav-item mx-1.5 transition-all text-dark lg:text-white group-[&.is-sticky]:text-dark duration-300 hover:text-primary [&.active]:!text-primary group-[&.is-sticky]:[&.active]:text-primary">
                            <a class="nav-link inline-flex items-center text-sm lg:text-base font-medium py-0.5 px-2 capitalize" href="#what">What</a>
                        </li>

                        <li class="nav-item mx-1.5 transition-all text-dark lg:text-white group-[&.is-sticky]:text-dark duration-300 hover:text-primary [&.active]:!text-primary group-[&.is-sticky]:[&.active]:text-primary">
                            <a class="nav-link inline-flex items-center text-sm lg:text-base font-medium py-0.5 px-2 capitalize" href="#how">How</a>
                        </li>

                        <li class="nav-item mx-1.5 transition-all text-dark lg:text-white group-[&.is-sticky]:text-dark duration-300 hover:text-primary [&.active]:!text-primary group-[&.is-sticky]:[&.active]:text-primary">
                            <a class="nav-link inline-flex items-center text-sm lg:text-base font-medium py-0.5 px-2 capitalize" href="#pricing">Pricing</a>
                        </li>
    
                        <li class="nav-item mx-1.5 transition-all text-dark lg:text-white group-[&.is-sticky]:text-dark duration-300 hover:text-primary [&.active]:!text-primary group-[&.is-sticky]:[&.active]:text-primary">
                            <a class="nav-link inline-flex items-center text-sm lg:text-base font-medium py-0.5 px-2 capitalize" href="#faq">F.A.Q.</a>
                        </li>

                        <li class="nav-item mx-1.5 transition-all text-dark lg:text-white group-[&.is-sticky]:text-dark duration-300 hover:text-primary [&.active]:!text-primary group-[&.is-sticky]:[&.active]:text-primary">
                            <a class="nav-link inline-flex items-center text-sm lg:text-base font-medium py-0.5 px-2 capitalize" href="#about">About</a>
                        </li>

                        <li class="nav-item mx-1.5 transition-all text-dark lg:text-white group-[&.is-sticky]:text-dark duration-300 hover:text-primary [&.active]:!text-primary group-[&.is-sticky]:[&.active]:text-primary">
                            <a class="nav-link inline-flex items-center text-sm lg:text-base font-medium py-0.5 px-2 capitalize" href="#contact">Contact</a>
                        </li>
                    </ul>
                    <div class="ms-auto shrink block gap-2 lg:hidden mt-4 text-center">
                        <a href="/users/login" class="py-2 px-6 inline-flex items-center gap-2 rounded-md text-base text-white bg-primary hover:bg-primaryDark transition-all duration-500 font-medium">
                            <i data-lucide="log-in" class="h-4 w-4 fill-white/40"></i>
                            <span class="block">Login</span>
                        </a>
                    </div>
                </div>

                <div class="ms-auto shrink hidden lg:inline-flex gap-2">
                    <% if (user) { %>
                        <a href="/dashboard" class="py-2 px-6 inline-flex items-center gap-2 rounded-md text-base text-white bg-primary hover:bg-primaryDark transition-all duration-500 font-medium">
                            <i data-lucide="log-in" class="h-4 w-4 fill-white/40"></i>
                            <span class="block">Dashboard</span>
                        </a>
                    <% } else { %>
                        <a href="/users/login" class="py-2 px-6 inline-flex items-center gap-2 rounded-md text-base text-white bg-primary hover:bg-primaryDark transition-all duration-500 font-medium">
                            <i data-lucide="log-in" class="h-4 w-4 fill-white/40"></i>
                            <span class="block">Login</span>
                        </a>
                    <% } %>
                </div>
            </div>
        </div>
    </nav>

    <!-- =========== Hero Section Start =========== -->
    <section class="relative pt-32 pb-20 from-gray-700 via-gray-900 to-black" id="home"> <!-- bg-[radial-gradient(ellipse_at_right,_var(--tw-gradient-stops))] -->
        <video autoplay muted loop playsinline id="homeVideo">
            <source src="/assets/videos/capture_landscape_smaller.mp4" type="video/mp4">
        </video>

        <div class="container">
            <div class="grid grid-cols-1 items-center justify-center">
                <div class="text-sm max-w-3xl mx-auto text-center">
                    <h1 class="text-3xl md:text-5xl/tight lg:text-6xl/tight text-white tracking-normal capitalize leading-normal font-bold max-w-2xl mt-4">Stunning Murals, <span class="text-primary">Interactive Magic!</span></h1>
                    <div class="max-w-xl mx-auto">
                        <p class="text-base font-medium text-white leading-7 mt-2 capitalize">We create murals using Artificial Intelligence and Augmented Reality.</p>
                    </div>
                    <div class="flex flex-wrap items-center justify-center mt-9 text-center gap-3">
<!--                        <a href="#pricing" class="py-2 px-6 text-white rounded-md border border-white text-base hover:border-white hover:bg-white hover:text-primary transition-all duration-500 font-medium">See Pricing</a>-->
                        <a href="#contact" class="py-2 px-6 text-white rounded-md border border-white text-base hover:border-white hover:bg-white hover:text-primary transition-all duration-500 font-medium">Contact Us</a>
                        <a href="/ar" class="py-2 px-6 rounded-md text-white text-base bg-primary hover:bg-primaryDark border border-primary hover:border-primaryDark transition-all duration-500 font-medium" target="_blank">Open AR</a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- What Start -->
    <section id="what" class="py-20">
        <div class="container">
            <div class="max-w-2xl mx-auto text-center">
                <span class="text-sm text-primary uppercase font-semibold tracking-wider text-default-950">What</span>
                <h2 class="text-3xl md:text-4xl/tight font-semibold text-black mt-4">What is it?</h2>
                <p class="text-base font-medium mt-4 text-muted"><br></p>
            </div>

            <div class="lg:ms-5 ms-8">
                <div class="flex items-start gap-5">
                    <div>
                        <div class="w-12 h-12 rounded-full border border-dashed border-primary/40 bg-primary/10 flex items-center justify-center">
                            <i data-lucide="landmark" class="text-base text-blue-600"></i>
                        </div>
                    </div>
                    <div>
                        <h4 class="text-xl font-semibold">A timeless art form</h4>
                        <p class="text-base font-normal text-gray-500 mt-2 text-justify me-2">Murals have been a form of human expression for thousands of years, dating back to ancient cave paintings that told stories through imagery.
                            Now, with the power of artificial intelligence and augmented reality, this timeless art form is evolving like never before. </p>
                    </div>
                </div>

                <div class="flex items-start gap-5 mt-8">
                    <div>
                        <div class="w-12 h-12 rounded-full border border-dashed border-primary/40 bg-primary/10 flex items-center justify-center">
                            <i data-lucide="rocket" class="text-base text-blue-600"></i>
                        </div>
                    </div>
                    <div>
                        <h4 class="text-xl font-semibold">The future is here</h4>
                        <p class="text-base font-normal text-gray-500 mt-2 text-justify me-2">
                            Artificial Intelligence has come to reimagine how we create and consume content, and although Augmented Reality has existed for years, its adoption in the urban art scene is still in its early stages.
                            We foresee a wave of new art forms emerging, transforming public spaces into interactive and immersive experiences. </p>
                    </div>
                </div>

                <div class="flex items-start gap-5 mt-8">
                    <div>
                        <div class="w-12 h-12 rounded-full border border-dashed border-primary/40 bg-primary/10 flex items-center justify-center">
                            <i data-lucide="lightbulb" class="text-base text-blue-600"></i>
                        </div>
                    </div>
                    <div>
                        <h4 class="text-xl font-semibold">Inspire your audience</h4>
                        <p class="text-base font-normal text-gray-500 mt-2 text-justify me-2">Empower fans to engage with your brand and create content around it by sharing on social media.
                            A well-conceptualized mural not only captivates viewers but also amplifies a campaign’s reach digitally, spreading organically across social networks. </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- What End -->

    <section class="relative py-20 bg-cover bg-no-repeat bg-center" style="background-image: url('/assets/images/home/parallax.png');" data-jarallax data-speed="0.20">
        <div class="absolute inset-0 w-full h-full bg-gray-900/70"></div>
        <div class="container">
            <div class="pb-10 lg:pb-0 flex flex-col items-center justify-center">
                <h1 class="text-3xl md:text-4xl/tight font-semibold text-white text-center">Engagement Metrics & Data Collections</h1>
                <p class="text-base font-normal max-w-xl text-center mx-auto text-white mt-6">Understand Who, What, Where, When, How. We know marketers like numbers and graphs so we got you covered.</p>
            </div>
        </div>
    </section>

    <!-- How Start -->
    <section id="how" class="py-20">
        <div class="container">
            <div class="grid lg:grid-cols-2 items-center gap-6">
                <div class="lg:ms-5 mx-auto">
                    <div class="text-center lg:text-start">
                        <span class="text-sm text-primary uppercase font-semibold tracking-wider text-default-950">How</span>
                    </div>
                    <h2 class="text-3xl md:text-4xl/tight font-semibold text-black mt-4 text-center lg:text-start">How does it work?</h2>
                    <p class="text-base font-normal text-muted mt-6 text-justify mx-2">Our software is running entirely on the cloud, with no need for application download. Simply scan the QR code signage, point your smartphone or tablet at the mural, and watch as the artwork comes to life, transforming into an immersive digital experience right before your eyes.</p>
                    <div class="grid lg:grid-cols-3 grid-cols-1 gap-8 mt-9">
                        <div class="text-center lg:text-start">
                            <div class="flex items-center justify-center lg:justify-start">
                                <div class="items-center justify-center flex bg-green-50 rounded-full h-20 w-20 border border-dashed border-green-50">
                                    <i data-lucide="qr-code" class="h-8 w-8 text-black"></i>
                                </div>
                            </div>
                            <h1 class="text-xl font-semibold pt-6">1. Scan the QR</h1>
                            <p class="text-base text-gray-600 font-normal mt-2">No need to download an application.</p>
                        </div>

                        <div class="text-center lg:text-start">
                            <div class="flex items-center justify-center lg:justify-start">
                                <div class="items-center justify-center flex bg-red-50 rounded-full h-20 w-20 border border-dashed border-red-50">
                                    <i data-lucide="video" class="h-8 w-8 text-black"></i>
                                </div>
                            </div>
                            <h1 class="text-xl font-semibold  pt-6">2. Make a video</h1>
                            <p class="text-base text-gray-600 font-normal mt-2">Create a lasting memory.</p>
                        </div>

                        <div class="text-center lg:text-start">
                            <div class="flex items-center justify-center lg:justify-start">
                                <div
                                    class="items-center justify-center flex bg-primary/10 rounded-full h-20 w-20 border border-dashed border-primary/10">
                                    <i data-lucide="share" class="h-8 w-8 text-black"></i>
                                </div>
                            </div>
                            <h1 class="text-xl font-semibold pt-6">3. Share it</h1>
                            <p class="text-base text-gray-600 font-normal mt-2">Engage with your brand in social media.</p>
                        </div>
                    </div>
                </div>
                <div class="flex items-center">
                    <div class="relative video-container mx-auto mt-8">
                        <video autoplay muted loop playsinline>
                            <source src="/assets/videos/new_capture_short_sm.mp4" type="video/mp4" />
                        </video>
                        <img class="iphone" src="/assets/images/statistical_whitebg.png">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- How End -->

    <!-- Finder's fee Start -->
    <section class="py-20 bg-gray-50">
        <div class="container relative">
            <div class="">
                <div class="text-center max-w-xl mx-auto">
                    <h3 class="text-3xl md:text-4xl/tight font-semibold">We are offering a 10% finder's fee</h3>
                    <p class="text-base font-normal max-w-xl text-center mx-auto mt-6">When you refer a client or facilitate the business. <a href="/#contact">Contact Us!</a> </p>
                </div>
            </div>
        </div>
    </section>
    <!-- Finder's fee End -->

    <!-- Pricing Start -->
    <section id="pricing" class="py-20">
        <div class="container">
            <div class="max-w-2xl mx-auto text-center">
                <div>
                    <span class="text-sm text-primary uppercase font-semibold tracking-wider text-default-950">Pricing</span>
                </div>
                <h2 class="text-3xl md:text-4xl/tight font-semibold text-black mt-4">We need to keep the lights on and the servers running.</h2>
            </div>

            <div class="grid grid-cols-1 mt-8">
                <div class="flex justify-center">
                    <div id="toggle-count" class="p-1 inline-block border border-gray-200 rounded-lg">
                        <span class="relative inline-block">
                            <input id="toggle-count-monthly" name="toggle-count" type="radio" class="absolute top-0 end-0 size-full border-transparent bg-transparent bg-none text-white rounded-lg cursor-pointer focus:border-0 focus:ring-transparent focus:ring-offset-transparent" checked>
                            <label for="toggle-count-monthly" class="inline-block py-2 px-5 rounded-s-md uppercase text-sm font-semibold">
                                Monthly
                            </label>
                        </span>
                        <span class="relative inline-block">
                            <input id="toggle-count-annual" name="toggle-count" type="radio" class="absolute top-0 end-0 size-full border-transparent bg-transparent bg-none text-white rounded-lg cursor-pointer focus:border-0 focus:ring-transparent focus:ring-offset-transparent">
                            <label for="toggle-count-annual" class="inline-block py-2 px-5 rounded-e-md uppercase text-sm font-semibold">
                                Annual
                            </label>
                        </span>
                    </div>
                </div>

                <p class="text-muted text-base mx-auto mt-5">Save up to 50% with Annual Plan.</p>

                <div id="StarterContent">
                    <div class="mt-14" id="start-month" role="tabpanel" aria-labelledby="start-month-tab">
                        <div class="grid lg:grid-cols-2 grid-cols-1 gap-10">

                            <div class="flex flex-col shadow-2xl rounded-xl bg-white overflow-hidden">
                                <div class="text-center pt-10">
                                    <img src="/assets/images/vector/vector-1.png" class="h-28 w-28 mx-auto" alt="email">
                                    <h5 class="text-2xl font-semibold text-black">Free</h5>
                                    <h2 class="text-5xl mt-5 mb-1 items-center align-middle">
                                        <sup class="text-3xl align-middle">$</sup>
                                        <span data-hs-toggle-count='{
                                            "target": "#toggle-count",
                                            "min": 0,
                                            "max": 0
                                          }' >0</span>
                                    </h2>
                                    <span class="text-base font-medium text-muted">per month</span>
                                </div>

                                <div class="px-5 py-5 mx-auto">
                                    <ul class="text-center">
                                        <li class="flex items-center justify-start py-2">
                                            <i data-lucide="check" class="text-primary text-lg align-middle me-2"></i>
                                            <h5 class="font-medium">1,000 views/month</h5>
                                        </li>
                                        <li class="flex items-center justify-start py-2">
                                            <i data-lucide="check" class="text-primary text-lg align-middle me-2"></i>
                                            <h5 class="font-medium">1 Gb Storage</h5>
                                        </li>
                                        <li class="flex items-center justify-start py-2">
                                            <i data-lucide="x" class="text-muted text-lg align-middle me-2"></i>
                                            <h5 class="font-medium text-muted">Free Support</h5>
                                        </li>
                                    </ul>
                                </div>

                                <!-- <div class="flex justify-center px-10 pb-10">
                                    <button class="py-2 px-6 inline-flex rounded-md text-base items-center justify-center border border-primary text-white bg-primary hover:bg-primaryDark transition-all duration-500 font-medium w-full">Buy Standard</button>
                                </div> -->
                            </div>

                            <div class="flex flex-col shadow-2xl rounded-xl bg-white overflow-hidden">
                                <div class="text-center pt-10">
                                    <img src="/assets/images/vector/vector-2.png" class="h-28 w-28 mx-auto"
                                        alt="vector-2">
                                    <h5 class="text-2xl font-semibold text-black">Professional</h5>
                                    <h2 class="text-5xl mt-5 mb-1 items-center align-middle">
                                        <sup class="text-3xl align-middle">$</sup>
                                        <span data-hs-toggle-count='{
                                            "target": "#toggle-count",
                                            "min": 99,
                                            "max": 49
                                          }' >99</span>
                                    </h2>
                                    <span class="text-base font-medium text-muted">per month</span>
                                </div>

                                <div class="px-5 py-5 mx-auto">
                                    <ul class="text-center text-black">
                                        <li class="flex items-center justify-start py-2">
                                            <i data-lucide="check" class="text-primary text-lg align-middle me-2"></i>
                                            <h5 class="font-medium">100,000 views/month</h5>
                                        </li>
                                        <li class="flex items-center justify-start py-2">
                                            <i data-lucide="check" class="text-primary text-lg align-middle me-2"></i>
                                            <h5 class="font-medium">10 Gb Storage</h5>
                                        </li>
                                        <li class="flex items-center justify-start py-2">
                                            <i data-lucide="check" class="text-primary text-lg align-middle me-2"></i>
                                            <h5 class="font-medium">Free Support</h5>
                                        </li>
                                    </ul>
                                </div>

                                <!-- <div class="flex justify-center px-10 pb-10">
                                    <button class="py-2 px-6 inline-flex rounded-md text-base items-center justify-center border border-primary text-white bg-primary hover:bg-primaryDark transition-all duration-500 font-medium w-full">Buy Premium</button>
                                </div> -->
                            </div>

                            <!-- <div class="flex flex-col shadow-2xl rounded-xl bg-white overflow-hidden ">
                                <div class="text-center pt-10">
                                    <img src="/assets/images/vector/vector-3.png" class="h-28 w-28 mx-auto"
                                        alt="vector-3">
                                    <h5 class="text-2xl font-semibold text-black">Enterprise</h5>
                                    <h2 class="text-5xl mt-5 mb-1 items-center align-middle">
                                        <sup class="text-3xl align-middle">$</sup>
                                        <span data-hs-toggle-count='{
                                            "target": "#toggle-count",
                                            "min": 320,
                                            "max": 220
                                          }' >320</span>
                                    </h2>
                                    <span class="text-base font-medium text-muted">per month</span>
                                </div>

                                <div class="px-5 py-5 mx-auto">
                                    <ul class="text-center text-black">
                                        <li class="flex items-center justify-start py-2">
                                            <i data-lucide="check" class="text-primary text-lg align-middle me-2"></i>
                                            <h5 class="font-medium">Unlimited views</h5>
                                        </li>
                                        <li class="flex items-center justify-start py-2">
                                            <i data-lucide="check" class="text-primary text-lg align-middle me-2"></i>
                                            <h5 class="font-medium">100 Gb Storage</h5>
                                        </li>
                                        <li class="flex items-center justify-start py-2">
                                            <i data-lucide="check" class="text-primary text-lg align-middle me-2"></i>
                                            <h5 class="font-medium">Free Support</h5>
                                        </li>
                                    </ul>
                                </div>

                                <div class="flex justify-center px-10 pb-10">
                                    <button class="py-2 px-6 inline-flex rounded-md text-base items-center justify-center border border-primary text-white bg-primary hover:bg-primaryDark transition-all duration-500 font-medium w-full">Buy Enterprise</button>
                                </div>
                            </div> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Pricing End-->

    <!-- Faqs Start -->
    <section id="faq" class="py-20 bg-gray-50">
        <div class="container">
            <div class="">
                <div class="text-center max-w-xl mx-auto">
                    <div>
                        <span class="text-sm text-primary uppercase font-medium tracking-wider text-default-950 mb-6">FAQs</span>
                    </div>
                    <h2 class="text-3xl md:text-4xl/tight font-semibold mt-4">Frequently Asked Questions</h2>
                </div>

                <div id="accordion-collapse" data-accordion="collapse" class="md:gap-[30px] mt-14 bg-white rounded-xl">
                    <div class="hs-accordion-group divide-y divide-gray-200">
                        <div class="relative overflow-hidden">
                            <h2 class="text-base font-semibold" id="accordion-collapse-heading-0">
                                <button type="button" class="flex justify-between items-center px-5 py-4 w-full font-semibold text-lg text-start" data-accordion-target="#accordion-collapse-body-0" aria-expanded="true"
                                    aria-controls="accordion-collapse-body-0">
                                    <span>Where are you located?</span>
                                    <svg data-accordion-icon class="size-4 rotate-180 shrink-0" fill="currentColor"
                                        viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd"
                                            d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
                                            clip-rule="evenodd"></path>
                                    </svg>
                                </button>
                            </h2>
                            <div id="accordion-collapse-body-0" class="hidden"
                                aria-labelledby="accordion-collapse-heading-0">
                                <div class="px-5 pb-5">
                                    <p class="text-muted text-base font-normal">We offer our services Nationwide. We are based in Georgia, but we proudly serve clients across the U.S. with a commitment to excellence.</p>
                                </div>
                            </div>
                        </div>

                        <div class="relative overflow-hidden">
                            <h2 class="text-base font-semibold" id="accordion-collapse-heading-1">
                                <button type="button" class="flex justify-between items-center px-5 py-4 w-full font-semibold text-lg text-start" data-accordion-target="#accordion-collapse-body-1" aria-expanded="true"
                                    aria-controls="accordion-collapse-body-1">
                                    <span>Why work with us?</span>
                                    <svg data-accordion-icon class="size-4 rotate-180 shrink-0" fill="currentColor"
                                        viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd"
                                            d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
                                            clip-rule="evenodd"></path>
                                    </svg>
                                </button>
                            </h2>
                            <div id="accordion-collapse-body-1" class="hidden"
                                aria-labelledby="accordion-collapse-heading-1">
                                <div class="px-5 pb-5">
                                    <p class="text-muted text-base font-normal">We have worked with over 100 top brands in the past 10 years. <br><br>
                                        <ul class="ms-8" style="list-style: circle;">
                                            <li class="text-justify"><b>Fully Insured:</b> Rest assured knowing your project is protected with comprehensive insurance coverage.</li>
                                            <li class="text-justify"><b>Expert Craftsmanship:</b> Our skilled artists deliver high-quality, detailed work that stands the test of time.</li>
                                            <li class="text-justify"><b>Versatile Styles:</b> We offer a range of styles, from realistic to graphic, tailored to your vision and space.</li>
                                            <li class="text-justify"><b>Customized Approach:</b> Each mural is uniquely designed to reflect your brand, home, or personal style.</li>
                                            <li class="text-justify"><b>Great Customer Service:</b> We prioritize communication and collaboration, ensuring your experience is seamless and enjoyable.</li>
                                            <li class="text-justify"><b>Turning Challenges into Reality:</b> No project is too challenging for us; we thrive on transforming ambitious ideas into stunning realities.</li>
                                        </ul>
                                    </p>
                                </div>
                            </div>
                        </div>

                        <div class="relative overflow-hidden">
                            <h2 class="text-base font-semibold" id="accordion-collapse-heading-2">
                                <button type="button" class="flex justify-between items-center px-5 py-4 w-full font-semibold text-lg text-start" data-accordion-target="#accordion-collapse-body-2" aria-expanded="true"
                                    aria-controls="accordion-collapse-body-2">
                                    <span>What services do you offer as an Atlanta mural artist?</span>
                                    <svg data-accordion-icon class="size-4 rotate-180 shrink-0" fill="currentColor"
                                        viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd"
                                            d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
                                            clip-rule="evenodd"></path>
                                    </svg>
                                </button>
                            </h2>
                            <div id="accordion-collapse-body-2" class="hidden"
                                aria-labelledby="accordion-collapse-heading-2">
                                <div class="px-5 pb-5">
                                    <p class="text-muted text-base font-normal text-justify">As a mural artist based in Atlanta, I specialize in creating custom murals for both residential and commercial spaces. Whether you're looking to enhance your home or add a unique touch to your business, I can help bring your vision to life.</p>
                                </div>
                            </div>
                        </div>

                        <div class="relative overflow-hidden">
                            <h2 class="text-base font-semibold" id="accordion-collapse-heading-3">
                                <button type="button" class="flex justify-between items-center px-5 py-4 w-full font-semibold text-lg text-start" data-accordion-target="#accordion-collapse-body-3" aria-expanded="false"
                                    aria-controls="accordion-collapse-body-3">
                                    <span>How do I commission a mural in the Upper West Side?</span>
                                    <svg data-accordion-icon class="size-4 shrink-0" fill="currentColor"
                                        viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd"
                                            d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
                                            clip-rule="evenodd"></path>
                                    </svg>
                                </button>
                            </h2>
                            <div id="accordion-collapse-body-3" class="hidden"
                                aria-labelledby="accordion-collapse-heading-3">
                                <div class="px-5 pb-5">
                                    <p class="text-muted text-base font-normal text-justify">Commissioning a mural in the Upper West Side is easy! Simply reach out through my website or social media to discuss your ideas, and we can set up a consultation to explore designs and pricing.</p>
                                </div>
                            </div>
                        </div>

                        <div class="relative overflow-hidden">
                            <h2 class="text-base font-semibold" id="accordion-collapse-heading-4">
                                <button type="button" class="flex justify-between items-center px-5 py-4 w-full font-semibold text-lg text-start" data-accordion-target="#accordion-collapse-body-4" aria-expanded="false"
                                    aria-controls="accordion-collapse-body-4">
                                    <span>Can you provide examples of your mural work in Atlanta?</span>
                                    <svg data-accordion-icon class="size-4 shrink-0" fill="currentColor"
                                        viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd"
                                            d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
                                            clip-rule="evenodd"></path>
                                    </svg>
                                </button>
                            </h2>
                            <div id="accordion-collapse-body-4" class="hidden"
                                aria-labelledby="accordion-collapse-heading-4">
                                <div class="px-5 pb-5">
                                    <p class="text-muted text-base font-normal text-justify">Absolutely! You can view my portfolio on my website, where I showcase a variety of murals throughout Atlanta, including colorful pieces in the Upper West Side.</p>
                                </div>
                            </div>
                        </div>

                        <div class="relative overflow-hidden">
                            <h2 class="text-base font-semibold" id="accordion-collapse-heading-5">
                                <button type="button" class="flex justify-between items-center px-5 py-4 w-full font-semibold text-lg text-start" data-accordion-target="#accordion-collapse-body-5" aria-expanded="false"
                                    aria-controls="accordion-collapse-body-5">
                                    <span>What is the process for creating a mural?</span>
                                    <svg data-accordion-icon class="size-4 shrink-0" fill="currentColor"
                                        viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd"
                                            d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
                                            clip-rule="evenodd"></path>
                                    </svg>
                                </button>
                            </h2>
                            <div id="accordion-collapse-body-5" class="hidden"
                                aria-labelledby="accordion-collapse-heading-5">
                                <div class="px-5 pb-5">
                                    <p class="text-muted text-base font-normal text-justify">The mural creation process begins with a consultation to discuss your ideas and preferences. After that, I’ll provide a design proposal, and once approved, I’ll schedule a time for the painting. I ensure that each project is tailored to fit the space perfectly.</p>
                                </div>
                            </div>
                        </div>

                        <div class="relative overflow-hidden">
                            <h2 class="text-base font-semibold" id="accordion-collapse-heading-6">
                                <button type="button" class="flex justify-between items-center px-5 py-4 w-full font-semibold text-lg text-start" data-accordion-target="#accordion-collapse-body-6" aria-expanded="false"
                                    aria-controls="accordion-collapse-body-6">
                                    <span>Do you work on outdoor murals as well?</span>
                                    <svg data-accordion-icon class="size-4 shrink-0" fill="currentColor"
                                        viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd"
                                            d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
                                            clip-rule="evenodd"></path>
                                    </svg>
                                </button>
                            </h2>
                            <div id="accordion-collapse-body-6" class="hidden"
                                aria-labelledby="accordion-collapse-heading-6">
                                <div class="px-5 pb-5">
                                    <p class="text-muted text-base font-normal text-justify">Yes, I create stunning outdoor murals that can beautify any space. Whether it’s a backyard, community wall, or storefront, my murals are designed to withstand the elements while adding character to your property.</p>
                                </div>
                            </div>
                        </div>

                        <div class="relative overflow-hidden">
                            <h2 class="text-base font-semibold" id="accordion-collapse-heading-7">
                                <button type="button" class="flex justify-between items-center px-5 py-4 w-full font-semibold text-lg text-start" data-accordion-target="#accordion-collapse-body-7" aria-expanded="false"
                                    aria-controls="accordion-collapse-body-7">
                                    <span>How far in advance should I book your mural services?</span>
                                    <svg data-accordion-icon class="size-4 shrink-0" fill="currentColor"
                                        viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd"
                                            d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
                                            clip-rule="evenodd"></path>
                                    </svg>
                                </button>
                            </h2>
                            <div id="accordion-collapse-body-7" class="hidden"
                                aria-labelledby="accordion-collapse-heading-7">
                                <div class="px-5 pb-5">
                                    <p class="text-muted text-base font-normal text-justify">It’s best to book your mural services as early as possible to ensure availability. Typically, a few weeks to several months in advance is ideal, depending on the scope and complexity of the project.</p>
                                </div>
                            </div>
                        </div>

                        <div class="relative overflow-hidden">
                            <h2 class="text-base font-semibold" id="accordion-collapse-heading-8">
                                <button type="button" class="flex justify-between items-center px-5 py-4 w-full font-semibold text-lg text-start" data-accordion-target="#accordion-collapse-body-8" aria-expanded="false"
                                    aria-controls="accordion-collapse-body-8">
                                    <span>How can I measure the ROI of my Augmented Reality Murals & Experiences?</span>
                                    <svg data-accordion-icon class="size-4 shrink-0" fill="currentColor"
                                        viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd"
                                            d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
                                            clip-rule="evenodd"></path>
                                    </svg>
                                </button>
                            </h2>
                            <div id="accordion-collapse-body-8" class="hidden"
                                aria-labelledby="accordion-collapse-heading-8">
                                <div class="px-5 pb-5">
                                    <p class="text-muted text-base font-normal text-justify">Detailed metrics data is provided for each AR experience to measure performance and ROI. These metrics include impressions, opens, captures, saves, shares, and more. Another effective way of measuring ROI is to implement an offer or call to action within the AR experience, and compare this data to the goals of the campaign.</p>
                                </div>
                            </div>
                        </div>

                        <div class="relative overflow-hidden">
                            <h2 class="text-base font-semibold" id="accordion-collapse-heading-9">
                                <button type="button" class="flex justify-between items-center px-5 py-4 w-full font-semibold text-lg text-start" data-accordion-target="#accordion-collapse-body-9" aria-expanded="false"
                                    aria-controls="accordion-collapse-body-9">
                                    <span>What are the Benefits of Augmented Reality Murals?</span>
                                    <svg data-accordion-icon class="size-4 shrink-0" fill="currentColor"
                                        viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd"
                                            d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
                                            clip-rule="evenodd"></path>
                                    </svg>
                                </button>
                            </h2>
                            <div id="accordion-collapse-body-9" class="hidden"
                                aria-labelledby="accordion-collapse-heading-9">
                                <div class="px-5 pb-5">
                                    <p class="text-muted text-base font-normal text-justify">AR Murals help brands capture audiences with the leading form of content. It enhances brand visibility: <br><br>
                                        <ul class="ms-8" style="list-style: circle;">
                                            <li>50% reduction in cost per engagement</li>
                                            <li>4x time spent looking at ads with AR filters</li>
                                            <li>10x engagement with ads using AR</li>
                                        </ul>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Faqs End -->

    <!-- Video Start -->
    <section id="about" class="py-20">
        <div class="container">
            <div class="">
                <div class="text-center max-w-xl mx-auto">
                    <span class="text-sm text-primary uppercase font-semibold tracking-wider text-default-950">About</span>
                    <h2 class="text-3xl md:text-4xl/tight font-semibold mt-4">Check the latest of our company.</h2>
                </div>
            </div>
            <div class="flex mt-14 items-center justify-center gap-6 flex-col sm:flex-row">
                <div class="mt-2 px-2">
                    <iframe loading="lazy" class="youVideo" frameborder="0" allowfullscreen="" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" title="Upper Westside Murals handprinted signs at Brickworks, Atlanta"  src="https://www.youtube.com/embed/KmvGSstsmfA?controls=1&amp;rel=0&amp;playsinline=0&amp;modestbranding=0&amp;cc_load_policy=0&amp;autoplay=0&amp;enablejsapi=1&amp;origin=https%3A%2F%2Fwww.wallmurals.ai&amp;widgetid=1"></iframe>
                </div>
                <div class="mt-2 px-2">
                    <iframe loading="lazy" class="youVideo" frameborder="0" allowfullscreen="" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" title="Upper Westside Murals handprinted signs at Brickworks, Atlanta"  src="https://www.youtube.com/embed/kduBGAJlcZ4?controls=1&rel=0&playsinline=0&modestbranding=0&cc_load_policy=0&autoplay=0&enablejsapi=1&origin=https%3A%2F%2Fwww.wallmurals.ai&widgetid=7"></iframe>
                </div>
            </div>
        </div>
    </section>
    <!-- Videos End -->

    <!-- Contact Start -->
    <section id="contact" class="py-20 bg-gray-50">
        <div class="container">
            <div class="grid lg:grid-cols-3 gap-6 items-center">
                <div>
                    <div class="sm-text text-center md:text-start">
                        <span class="text-sm text-primary uppercase font-semibold tracking-wider text-default-950 mb-6">Contact Us</span>
                    </div>
                    <h2 class="text-3xl md:text-4xl/tight font-semibold mt-4 text-center md:text-start">Let's talk about your mural.</h2>

                    <div class="flex flex-col sm:flex-row items-center gap-5 text-center sm:text-start mt-10">
                        <div class="h-12 w-12 rounded-full bg-primary/10 flex items-center justify-center">
                            <i data-lucide="mail" class="text-2xl text-primary"></i>
                        </div>
                        <div>
                            <h5 class="text-base text-muted font-medium mb-1">thisisupperwestsidemurals@gmail.com</h5>
                            <a href="mailto:thisisupperwestsidemurals@gmail.com" class="text-xs text-primary font-bold uppercase">Say hello</a>
                        </div>
                    </div>
                    <div class="flex flex-col sm:flex-row items-center gap-5 text-center sm:text-start mt-10">
                        <div class="h-12 w-12 rounded-full bg-primary/10 flex items-center justify-center">
                            <i data-lucide="smartphone" class="text-2xl text-primary"></i>
                        </div>
                        <div>
                            <h5 class="text-base text-muted font-medium mb-1">(+1) 404 312 2093</h5>
                            <a href="tel:404-312-2093" class="text-xs text-primary font-bold uppercase">Call now</a>
                        </div>
                    </div>
                </div>
                <div class="lg:col-span-2 lg:ms-24">
                    <div class="p-6 md:p-12 rounded-md shadow-lg bg-white">
                        <form id="contactForm">
                            <div class="grid sm:grid-cols-2 gap-6">
                                <div>
                                    <label for="formFirstName" class="block text-sm/normal font-semibold text-black mb-2">First Name</label>
                                    <input type="text" class="block w-full text-sm rounded-md py-3 px-4 border-gray-200 focus:border-gray-300 focus:ring-transparent" name="formFirstName" id="formFirstName" placeholder="Your first name..." required="">
                                </div>

                                <div>
                                    <label for="formLastName" class="block text-sm/normal font-semibold text-black mb-2">Last Name</label>
                                    <input type="text" class="block w-full text-sm rounded-md py-3 px-4 border-gray-200 focus:border-gray-300 focus:ring-transparent" name="formLastName" id="formLastName" placeholder="Your last name..." required="">
                                </div>

                                <div>
                                    <label for="formEmail" class="block text-sm/normal font-semibold text-black mb-2">Email Address</label>
                                    <input type="email" class="block w-full text-sm rounded-md py-3 px-4 border-gray-200 focus:border-gray-300 focus:ring-transparent" name="formEmail" id="formEmail" placeholder="Your email address..." required="">
                                </div>

                                <div>
                                    <label for="formPhone" class="block text-sm/normal font-semibold text-black mb-2">Phone Number</label>
                                    <input type="text" class="block w-full text-sm rounded-md py-3 px-4 border-gray-200 focus:border-gray-300 focus:ring-transparent" name="formPhone" id="formPhone" placeholder="Your phone number..." required="">
                                </div>

                                <div class="sm:col-span-2">
                                    <div class="mb-4">
                                        <label for="formMessage" class="block text-sm/normal font-semibold text-black mb-2">Message</label>
                                        <textarea class="block w-full text-sm rounded-md py-3 px-4 border-gray-200 focus:border-gray-300 focus:ring-transparent" name="formMessage" id="formMessage" rows="4" placeholder="Message..." required=""></textarea>
                                    </div>
                                </div>

                                <input type="hidden" name="nothing" value="">
                                <div class="cf-turnstile" data-sitekey="0x4AAAAAAA88HXbtlaYr4Fst"></div>
                            </div>

                            <div id="emailSuccess" class="flex items-center p-4 mb-4 text-sm text-green-800 rounded-lg bg-green-50 dark:bg-gray-800 dark:text-green-400 hidden" role="alert">
                                <svg class="shrink-0 inline w-4 h-4 me-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                                  <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"/>
                                </svg>
                                <span class="sr-only">Info</span>
                                <div>
                                  <span class="font-medium">Success!</span> Your email was sent. We will get in touch.
                                </div>
                            </div>
                            <div id="emailError" class="flex items-center p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400 hidden" role="alert">
                                <svg class="shrink-0 inline w-4 h-4 me-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                                  <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"/>
                                </svg>
                                <span class="sr-only">Info</span>
                                <div>
                                  <span class="font-medium">Error!</span> Your email was not sent. Please, try again.
                                </div>
                            </div>
                            <div id="emailWarning" class="flex items-center p-4 mb-4 text-sm text-yellow-800 rounded-lg bg-yellow-50 dark:bg-gray-800 dark:text-yellow-300 hidden" role="alert">
                                <svg class="shrink-0 inline w-4 h-4 me-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                                  <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"/>
                                </svg>
                                <span class="sr-only">Info</span>
                                <div>
                                  <span class="font-medium">Warning.</span> Please fill all the fields and solve the captcha.
                                </div>
                            </div>

                            <div class="mt-4">
                                <button id="sendEmail" type="submit" class="py-2 px-6 rounded-md text-baseitems-center justify-center border border-primary text-white bg-primary hover:bg-primaryDark transition-all duration-500 font-medium">Send Messages <i class="mdi mdi-send ms-1"></i></button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Contact End -->

    <!-- Footer Start -->
    <footer class="bg-[#17243A]">
        <div class="py-4 bg-[#1C2940]">
            <!-- 1B283F -->
            <div class="container">
                <div class="flex justify-between items-center">
                    <p class="text-base text-white"><script>document.write(new Date().getFullYear())</script>© <a href="#">Wall Murals AI</a></p>
                    <div>
                        <!-- <a class="size-8 inline-flex justify-center items-center gap-x-2 text-sm font-semibold rounded-md border border-transparent text-white hover:bg-primary transition-all duration-300" href="#">
                            <i data-lucide="instagram" class="h-4 w-4 text-white"></i>
                        </a>
                        <a class="size-8 inline-flex justify-center items-center gap-x-2 text-sm font-semibold rounded-md border border-transparent text-white hover:bg-primary transition-all duration-300" href="#">
                            <i data-lucide="facebook" class="h-4 w-4 text-white"></i>
                        </a>
                        <a class="size-8 inline-flex justify-center items-center gap-x-2 text-sm font-semibold rounded-md border border-transparent text-white hover:bg-primary transition-all duration-300" href="#">
                            <i data-lucide="twitter" class="h-4 w-4 text-white"></i>
                        </a>
                        <a class="size-8 inline-flex justify-center items-center gap-x-2 text-sm font-semibold rounded-md border border-transparent text-white hover:bg-primary transition-all duration-300" href="#">
                            <i data-lucide="youtube" class="h-4 w-4 text-white"></i>
                        </a> -->
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer End -->

    <!-- Preline Js -->
    <script src="/assets/libs/preline/preline.js" ></script> 

    <!-- Lucide Js -->
    <script src="/assets/libs/lucide/umd/lucide.min.js"></script>

    <!-- Gumshoe Js  -->
    <script src="/assets/libs/gumshoejs/gumshoe.polyfills.min.js"></script>

    <!-- Jarallax Js -->
    <script src="/assets/libs/jarallax/jarallax.min.js"></script> 

    <!-- Main Index Js -->
    <script src="/assets/js/index.js" ></script>

    <!-- Cloudflare -->
    <script src="https://challenges.cloudflare.com/turnstile/v0/api.js" defer></script>

    <!-- Send email -->
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            contactForm = document.getElementById("contactForm");
            contactForm.addEventListener("submit", async function(event) {
                event.preventDefault();

                const firstName = this.elements["formFirstName"].value;
                const lastName = this.elements["formLastName"].value;
                const email = this.elements["formEmail"].value;
                const phone = this.elements["formPhone"].value;
                const message = this.elements["formMessage"].value;
                const nothing = this.elements["nothing"].value;
                const cfTurnstileResponse = this.elements["cf-turnstile-response"].value;

                const emailSuccess = document.getElementById("emailSuccess");
                emailSuccess.setAttribute('style', 'display:none !important');
                const emailWarning = document.getElementById("emailWarning");
                emailWarning.setAttribute('style', 'display:none !important');
                const emailError = document.getElementById("emailError");
                emailError.setAttribute('style', 'display:none !important');

                if (firstName == "" ||
                    lastName == "" ||
                    email == "" ||
                    phone == "" ||
                    message == "" ||
                    cfTurnstileResponse == "")
                {
                    emailWarning.setAttribute('style', 'display:flex !important');
                    return false;
                }

                const sendEmail = document.getElementById("sendEmail");
                sendEmail.disabled = true;

                try {
                    const response = await fetch("/contact", {
                        method: "POST",
                        body: JSON.stringify(
                            { 
                                firstName: firstName,
                                lastName: lastName,
                                email: email,
                                phone: phone,
                                message: message,
                                nothing: nothing,
                                'cf-turnstile-response': cfTurnstileResponse
                            }
                        ),
                        headers: {
                            'Accept': 'application/json',
                            'Content-Type': 'application/json',
                        },
                    });
                    if (!response.ok || response.status != 200) {
                        throw new Error(`Response status: ${response.status}`);
                    }
                    const content = await response.json();
                    if (!content.success) {
                        throw new Error(`Response success: false`);
                    }
                    emailSuccess.setAttribute('style', 'display:flex !important');
                    this.reset();
                }
                catch (error) {
                    emailError.setAttribute('style', 'display:flex !important');
                }
                turnstile.reset();
                sendEmail.disabled = false;
                return false;
            })
        })
    </script>

    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-HQKX6X1BMS"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-HQKX6X1BMS');
    </script>
</body>
</html>